## Data types part 1

In [4]:

2 #integer

2

In [5]:
2.0 #float

2.0

In [6]:
5+2 #add

7

In [7]:
5-2 #subtract

3

In [8]:
5/2 #divide

2.5

In [9]:
5 **2 #power of two

25

In [10]:
1 + 2*3 + 4 #If there are no parenthesis Python will do multiplication first

11

In [11]:
(1 + 2)*(3 + 4) # it is a good practice to use parentthesis

21

In [12]:
6 % 2 # mod operation defines that 6 is even

0

In [13]:
5 % 2 # it defines that 5 is odd

1

In [14]:
x = 5 # variable x with value 5

In [17]:
y = 3 # variable y with value 3

In [18]:
x

5

In [19]:
y

3

In [20]:
x + y # add variables

8

In [21]:
x - y # subtract variables

2

In [22]:
x * y # multiply variables

15

In [24]:
z = x * y # assign new variable z

In [25]:
z

15

In [26]:
x = x * x # when assign the variable as previous it will use it to calculate new

In [27]:
x

25

In [ ]:
first_name = 'jeff' # the proper index to use underscore for variable names

In [ ]:
total_loss = 20

In [28]:
1var # wrong combination

SyntaxError: invalid syntax (<ipython-input-28-9f02e8326648>, line 1)

In [29]:
*var # wrong combination

SyntaxError: can't use starred expression here (<ipython-input-29-5fa37e7b7d39>, line 4)

In [ ]:
name = 'jeff'

In [30]:
Name # you can not use capital if didn't define before

NameError: name 'Name' is not defined

In [31]:
class = 2 # you can not use class to define

SyntaxError: invalid syntax (<ipython-input-31-ed55d338b5c6>, line 1)

In [32]:
Klass = 2 # you can use K inseted of c

In [33]:
'creating string with single quotes' # single quotes

'creating string with single quotes'

In [36]:
"creating string with double quotes" # double quotes

'creating string with double quotes'

In [35]:
"we have a lot's of quotes, let's wrap them in double" # python accepts single quotes inside double

"we have a lot's of quotes, let's wrap them in double"

In [37]:
x = 'string'

In [38]:
x

'string'

In [39]:
print(x) # proper way to call output

string

In [57]:
# Create complete sentense: My name is jeff and my age is 30
name = 'Vadim'
age = 30

In [58]:
print('my name is {} and my age is {}'.format(name, age)) #one way of doing it using format keyword

my name is Vadim and my age is 30

In [59]:
print('my name is {one} and my age is {two}'.format(one = name, two = age)) #another way of doing it

my name is Vadim and my age is 30

In [60]:
print('my name is {one} and my age is {two}'.format(two = age, one = name)) #even if we change order it is the same output

my name is Vadim and my age is 30

In [61]:
print('my name is {one} and my age is {two}, {one} again {two},{two}'.format(two = age, one = name)) #add more info

my name is Vadim and my age is 30, Vadim again 30,30

In [62]:
x #sring is a sequence of items and it is immutable in python. We can always build a new one

'string'

In [63]:
x[0] #grab the first letter

's'

In [64]:
x[-1] #grab the last letter

'g'

In [65]:
x[:3] # grab a half

'str'

In [66]:
#Let's create a simple string
s = 'Hi I am Vadim'

In [67]:
s.lower() #introducing lower case

'hi i am vadim'

In [68]:
s.upper()

'HI I AM VADIM'

In [69]:
s.split() # split is a separator keyword

['Hi', 'I', 'am', 'Vadim']

In [71]:
tweet = 'go flames go! #hockey' #use split on simple tweet example

In [72]:
tweet.split('#') # this is tweet about flames

['go flames go! ', 'hockey']

In [73]:
tweet.split('#')[1] # this is about hockey game

'hockey'

## Data types part 2

In [ ]:
# List is a sequence of elements separated by commas in square brakets.
# Lists are mutable and can be indexed and sliced unlike strings

In [74]:
[2,3,4] # list of numbers

[2, 3, 4]

In [78]:
['a', 'b', 'c'] # list of strings

['a', 'b', 'c']

In [79]:
my_list = ['a', 'b', 'c'] # create my list

In [80]:
my_list

['a', 'b', 'c']

In [81]:
my_list[0] # grab first item

'a'

In [82]:
my_list.append('d') #add item to the list

In [83]:
my_list # d is appended with my_list

['a', 'b', 'c', 'd']

In [85]:
my_list.pop() #remove d from the list

'd'

In [86]:
my_list

['a', 'b', 'c']

In [89]:
nest = [1,2,3,[4,5,6]] #create nested list

In [90]:
nest

[1, 2, 3, [4, 5, 6]]

In [91]:
nest[3] #call nested list

[4, 5, 6]

In [92]:
nest[3] [1] #call 5 from nested list

5

In [93]:
nest = [1,2,3,[4,5,6], ['a','b']]  #add nested list with strings

In [94]:
nest

[1, 2, 3, [4, 5, 6], ['a', 'b']]

In [95]:
#Dictionaries are not sequences, they are key value pairs in curly brakets.

In [96]:
d1 = {'k1':'v1', 'k2':'v2', 'k3':'v3' }
# We have to pass the key to get value off

In [97]:
d1['k1']

'v1'

In [98]:
d2 = {'k1':[1,2,3], 'k2':['a', 'b']}

In [99]:
d2['k1'] # call the key to get valeu

[1, 2, 3]

In [100]:
d2['k1'][1] # index and call 2 from the list

2

In [101]:
d2['k2'][0] # index and call a from k2

'a'

In [102]:
d1.keys() # call all the keys using built in method

dict_keys(['k1', 'k2', 'k3'])

In [103]:
d1.values() # return values

dict_values(['v1', 'v2', 'v3'])

In [104]:
# Tuples are sequences like lists but their immutable like strings.

In [106]:
t = (1,2,3) # Tuples are coded in parenthesis

In [107]:
t[0] # call 1

1

In [108]:
t[2] # call 3

3

In [109]:
t[0] = 'new' # we can not change number

TypeError: 'tuple' object does not support item assignment

In [110]:
{1,2,3}

{1, 2, 3}

In [111]:
{1,2,2,2,3} #ubique item appears only once

{1, 2, 3}

In [112]:
{1,2,2,2,2,2,3,3,3,3,3,3,}

{1, 2, 3}

In [113]:
s = {1,2,3}

In [114]:
s.add(4)

In [115]:
s

{1, 2, 3, 4}

In [116]:
s.add(4) # if we add 4 again it will not add it

In [117]:
s

{1, 2, 3, 4}

In [118]:
# Let's introduce boolean which is simply true and false with capital T and F

In [119]:
True

True

In [120]:
False

False

In [121]:
# Let's call my_list again
my_list

['a', 'b', 'c']

In [122]:
'a' in my_list # a is in my list

True

In [123]:
1 in my_list #no item 1 in my list

False

## Comparison opperators if, else, elif

In [124]:
3>4

False

In [125]:
3<4

True

In [126]:
2>=4

False

In [127]:
2<=4

True

In [128]:
1 == 1 #duble sign to compare items

True

In [129]:
1 == 2

False

In [130]:
'Vadim' == 'vadim'

False

In [131]:
(1<2) and (2<3) #both conditions must be satisfied

True

In [132]:
(1<2) or (2>3) #one condition must be satisfied

True

In [133]:
(1>2) or (2>3) #no condition is satisfied

False

In [134]:
(1 == 2 ) or (2 == 3) or (4 == 4)

True

In [135]:
if 3 > 2:
    print('True') #if condition is satisfied next line will be executed

True

In [136]:
if 2 > 3:
    print('True') #condition is not satisfied next line will not be executed

In [137]:
if 3 < 2:
    print('True')
else:
    print('False')

False

In [138]:
if 1 == 2: # the code will execute only first true condition
    print('statement 1')
elif 2 == 2:
    print('statement 2')
else:
    print('statement 3')

statement 2

In [139]:
if 1 == 2: # the code will execute only first true condition
    print('statement 1')
elif 2 == 2:
    print('statement 2')
elif 3 == 3:
    print('statement 2')
else:
    print('statement 4')

statement 2

## Loops and list comprehension part 1

In [ ]:
# While and For Loops are the main in python

In [140]:
i = 1
while i < 5: # loop condition
    print('value{}'.format(i)) # print value i
    i = i + 1 # increment value i to avoid infinite while loop

value1
value2
value3
value4

In [141]:
i = 1
while i < 5: # loop condition
    print('value{}'.format(i)) # print value i
    i = i + 1 # increment value i to avoid infinite while loop
else: # use else statement to print exit one codition is not satisfied
    print('exit')

value1
value2
value3
value4
exit

In [ ]:
# for loop helps iterate through sequence

In [150]:
my_list = [1,2,3,4,5]

In [151]:
for num in my_list:
    print(num) # display numbers

1
2
3
4
5

In [152]:
for num in my_list:
    print('Hi') # display Hi for each number

Hi
Hi
Hi
Hi
Hi

In [153]:
for num in my_list:
    print (num**2) # for each number display number**2

1
4
9
16
25

In [154]:
range(5) #this function will pass the numbers within the range

range(0, 5)

In [155]:
list(range(5)) # we can do it using list

[0, 1, 2, 3, 4]

In [156]:
for i in range(5):
    print(i)

0
1
2
3
4

In [157]:
for i in range(3,5):
    print(i)

3
4

In [158]:
for i in range (1,10,2):
    print(i) # print numbers from 1 to 10 with step 2

1
3
5
7
9

In [160]:
x = [2,3,4,5]

In [161]:
out = [] # create empty list
for num in x: 
    out.append(num**2) #for empty list print item**2 from list x
print(out)

[4, 9, 16, 25]

In [162]:
[num**2 for num in x] # the same piece of code using list comprehension

[4, 9, 16, 25]

In [163]:
[chars for chars in 'Hi Vadim']

['H', 'i', ' ', 'V', 'a', 'd', 'i', 'm']

In [164]:
[num**2 for num in range(1,10)] # use ist comprehension with range

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Functions and Lambda expression part 2

In [166]:
def fnc_name(param1):
    print(param1)
    print(param1+', This is Python')

In [167]:
fnc_name('Hi')

Hi
Hi, This is Python

In [168]:
def fnc_name(param1 = 'default value'):
    print(param1)
    print(param1+', This is Python')

In [174]:
fnc_name()

default value
default value, This is Python

In [177]:
def my_fun(num1,num2):
    return num1*num2

In [178]:
my_fun(2,3)

6

In [184]:
def my_fun(num1,num2):
    """
    this function is returning the
    multiplication of two numbers
    """
    return num1*num2 #use shift tab to read docstring

In [185]:
my_fun

In [187]:
def square(num):
    return num**2

In [188]:
square(4)

16

In [189]:
lambda num: num**2 #the same code with lambda

In [190]:
x = [1,2,3,4,5]
y = []
for num in x: 
    y.append(num**2) #for list y print item**2 from list x
print(y)

[1, 4, 9, 16, 25]

In [192]:
result = map(square,x) # the same output using map
list(result)

[1, 4, 9, 16, 25]

In [195]:
list(map(lambda num: num**2, x)) #the same code using map and lambda

[1, 4, 9, 16, 25]

In [196]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
list(map(lambda x,y,z: x+y+z, a,b,c)) #lambda to sum a,b,c, lists

[17, 10, 19, 23]

In [198]:
list(filter(lambda num:num%2 ==0, range(1,10))) #filter in range 1 to 10 using lambda expression

[2, 4, 6, 8]

# Exercises

In [199]:
# What is 5 to the power of 3?
5**3

125

In [203]:
#What is the reminder if 9 is divided by 2? Is 9 even or odd?
9 / 2

4.5

In [205]:
9 % 2 # it is odd not even

1

In [209]:
#Convert the given string into upper case and into a list
s='i am in alberta'
s.upper().split()

['I', 'AM', 'IN', 'ALBERTA']

In [217]:
#Convert the string 'My Name Is #Vadim!'' into lower case and split at # into a list
s='My Name Is #Vadim!'
s.lower().split('#')

['my name is ', 'vadim!']

In [223]:
#Print the following using format The total population of Alberta is 4.5 million
province = "Alberta"
population = 4.5
print('The total population of {province} is {population} million.'.format(province="Alberta", population=4.5))

The total population of Alberta is 4.5 million.

In [238]:
#Grab word Canada from nested list using indexing
a = ['Alberta', 2,[3,4],[5,['Canada',7,['hello']],10,15],1,7]
a[3][1][0]

'Canada'

In [242]:
#List name of provinces from the dictionary below
d = {'BC':'Victoria', 'AB':'Edmonton', 'ON':'Toronto', 'QC':'Quebec'}
list(d.keys())

['BC', 'AB', 'ON', 'QC']

In [271]:
#From the nested dictionary print word Montreal
d = {'k1':'AB', 'k2':[1,{'BC':['SK', 'ON', 'Vancouver', {'Calgary':[1,2,3, 'Montreal']}]}]}
d['k2'][1]['BC'][-1]['Calgary'][3]

'Montreal'

In [272]:
#What is the main difference between tuple and the list: Tuple is immutable.

In [ ]:
#Can element appear multiple times in a set? True or False? It is False.

In [277]:
#Write a function to split website domain from given email address: 
#user_name@some_domain.ca
def get_domain(email): #write a function for email
    return email.split('@')  #split email at @
get_domain('user_name@some_domain.ca')[-1] #call email function with second part of the email

'some_domain.ca'

In [281]:
#Write a function that tell you there is a word 'Calgary' in provided string. How to deal with capitalised 'C'. 
#find_city('Calgary is a city in Alberta')

s = 'Calgary is a city in Alberta' # create a string
def find_city(s): #write a function
    return 'calgary' in s.lower().split() #use lower case and split at white space
find_city(s) #call function

True

In [283]:
#Write a function to return square of numbers from 1 to 5 using range method
def square(param):
    num_sq = [] # create empty list
    for num in param: 
        num_sq.append(num**2) #for empty list print item**2 from list x
    return num_sq
square(range(1,6))

[1, 4, 9, 16, 25]

In [284]:
#Write lambda expression for previous task using map and range
list(map(lambda num: num**2, range(1,6)))

[1, 4, 9, 16, 25]

In [286]:
#Filter the words from a list that start with "c" using filter() and lambda expression.
veg_list = ['tomato', 'cabbage', 'meat', 'chicken', 'goat']
list(filter(lambda word:word[0] == 'c', veg_list))

['cabbage', 'chicken']

In [287]:
# same as previuous filter last letter t
list(filter(lambda word:word[-1] == 't', veg_list))

['meat', 'goat']

In [ ]:
#You are a loyal customer and the store to offering discounts to their loyal customers:
#between 0 & 50 CAD, you get 10 % discounts,
#between 51 & 100 CAD, you get 20 % discounts,
#more than 100 CAD, you get 40 % discounts, 
#Its Monday, and you are spending more than 50 CAD, you get a cherry on top! 10 CAD OFF
#write a function to calculate how much the customer will pay for any spending.
#test the function for [51,50,100,101] using for loop with you function

In [288]:
def you_pay(spending, is_monday):    
    if spending <51:
        return ((spending)-(spending/100)*10)
    elif is_monday and spending >= 51:
        new_spending = spending - 5
    else:
        new_spending = spending
    if spending > 50 and spending <= 100:
        return (new_spending-((new_spending)/100)*20)
    else:
        return (new_spending-((new_spending)/100)*40)

In [289]:
test = [50, 51, 100, 101]
for num in test:
    #print(num)
    print("For",num,"CAD, you pay ",you_pay(num,True), "on Monday")

For 50 CAD, you pay  45.0 on Monday
For 51 CAD, you pay  36.8 on Monday
For 100 CAD, you pay  76.0 on Monday
For 101 CAD, you pay  57.6 on Monday